@font-face {
    font-family: "Xarrovv-7DBR";
    src: url(../Xarrovv-7DBR.otf);
}

/* alt */

.eventsBanner{
    position: absolute;
    height:100%;
    z-index: 150;
    width: 100%;
}

.eventsBannerWrapper{
    height: 100vh;
    position: relative;
}

.eventsBannerCarousel{
    position: absolute;
    height:100%;
    width: 100%;
}

.eventsBannerCarouselSlide{
    height:100%;
    
}

.coupleHandsBgImg{
    background: linear-gradient(to right, rgba(186,130,95,0.4), rgba(250, 234, 209, 0.7)),
                /* linear-gradient(to bottom, rgba(186,130,95,0.5), rgba(0,0,0,0)), */
                url(../images/events/couple_hands.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 150px 120px -60px rgba(186,130,95,0.4);
}

.babyCrossBgImg{
    background: linear-gradient(to right, rgba(186,130,95,0.4), rgba(250, 234, 209, 0.7)), url(../images/events/babycross.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 150px 120px -60px rgba(186,130,95,0.4);
}

.eventsBannerTitle{
    font-size: 90px;
    color:white;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    font-weight: 100;
}

.eventsBannerSecondaryTitle-black{
    font-size: 50px;
    color:darkolivegreen;
    /* text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4); */
    font-weight: 190;
}

.eventsBannerSubTitle-white{
    color:white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    font-weight: 200;
    font-size: 25px;
}

.input-explainer{
    color:darkolivegreen !important;
}

.eventsBannerSubTitle-black{
    color:black;
    font-weight: 200;
    font-size: 20px;
}



.eventsImg{
    border-radius: 5px !important;
    max-width: 300px;
    box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.1);
}

/* end alt */

.fullSlide{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.slideText-white{
    color: rgb(255,255,255);
    font-size: 42px;
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


.slideText-dark{
    color: rgb(70,109,96);
    font-size: 42px;
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


.handsBg{
    background-image: url(../images/events/hands.jpg);
}

.mwroBg{
    background-image: url(../images/events/mwro.jpg);
}

.brideBg{
    background-image: url(../images/events/nyfi2.jpg);
}

.slideSeparator{
    height: 2px;
    width: 100%;
    background-color: white;
}

